<div class="container">
    <nav class="navbar-default navbar-fixed-top">
        <a routerLink="/list" class="navbar-brand">TODOapp</a>

        <ul class="nav navbar-nav">
            <li class="dropdown" *ngIf="loc.path().indexOf('/logincomp') == -1">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">Option<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li *ngIf="loc.path().indexOf('/list') != -1"><a (click)="gotoCreateTask()">Add task</a></li>
                    <li *ngIf="loc.path().indexOf('/list') != -1 && filterMod" (click)="filter.filterMod.next(false)"><a>Search</a>
                    </li>
                    <li *ngIf="loc.path().indexOf('/list') != -1 && !filterMod" (click)="filter.filterMod.next(true)"><a>Filter</a>
                    </li>
                    <li *ngIf="loc.path().indexOf('/list') == -1"><a routerLink="/list">Back</a></li>
                    <li *ngIf="loc.path() != '/logincomp'" (click)="taskstorage.logout()"><a>Exit</a></li>
                </ul>
            </li>
            <li class="dropdown" *ngIf="loc.path().indexOf('/list') != -1 && filterMod">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">{{myFilter}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a (click)="filter.currentFilter.next(filter.filters[0])" *ngIf="myFilter != filter.filters[0]">{{filter.filters[0]}}</a>
                    </li>
                    <li><a (click)="filter.currentFilter.next(filter.filters[1])" *ngIf="myFilter != filter.filters[1]">{{filter.filters[1]}}</a>
                    </li>
                    <li><a (click)="filter.currentFilter.next(filter.filters[2])" *ngIf="myFilter != filter.filters[2]">{{filter.filters[2]}}</a>
                    </li>
                    <li><a (click)="filter.currentFilter.next(filter.filters[3])" *ngIf="myFilter != filter.filters[3]">{{filter.filters[3]}}</a>
                    </li>
                    <li><a (click)="filter.currentFilter.next(filter.filters[4])" *ngIf="myFilter != filter.filters[4]">{{filter.filters[4]}}</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" *ngIf="loc.path().indexOf('/list') != -1 && filterMod">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">{{mySort}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a (click)="filter.currentSort.next(filter.sortCrits[0])" *ngIf="mySort != filter.sortCrits[0]">{{filter.sortCrits[0]}}</a>
                    </li>
                    <li><a (click)="filter.currentSort.next(filter.sortCrits[1])" *ngIf="mySort != filter.sortCrits[1]">{{filter.sortCrits[1]}}</a>
                    </li>
                    <li><a (click)="filter.currentSort.next(filter.sortCrits[2])" *ngIf="mySort != filter.sortCrits[2]">{{filter.sortCrits[2]}}</a>
                    </li>
                    <li><a (click)="filter.currentSort.next(filter.sortCrits[3])" *ngIf="mySort != filter.sortCrits[3]">{{filter.sortCrits[3]}}</a>
                    </li>
                    <li><a (click)="filter.currentSort.next(filter.sortCrits[4])" *ngIf="mySort != filter.sortCrits[4]">{{filter.sortCrits[4]}}</a>
                    </li>
                    <li><a (click)="filter.currentSort.next(filter.sortCrits[5])" *ngIf="mySort != filter.sortCrits[5]">{{filter.sortCrits[5]}}</a>
                    </li>
                    <li><a (click)="filter.currentSort.next(filter.sortCrits[6])" *ngIf="mySort != filter.sortCrits[6]">{{filter.sortCrits[6]}}</a>
                    </li>
                    <li><a (click)="filter.currentSort.next(filter.sortCrits[7])" *ngIf="mySort != filter.sortCrits[7]">{{filter.sortCrits[7]}}</a>
                    </li>
                </ul>
            </li>
            <li class="dropdown" *ngIf="loc.path().indexOf('/list') != -1 && filterMod">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="false">{{myAscending ? "Ascending" : "Descending"}}<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a (click)="filter.currentDirect.next(true)" *ngIf="!myAscending">Ascending</a></li>
                    <li><a (click)="filter.currentDirect.next(false)" *ngIf="myAscending">Descending</a></li>
                </ul>
            </li>
            <li class="dropdown search" *ngIf="loc.path().indexOf('/list') != -1 && !filterMod">
                <form class="form-inline">
                    <div class="input-group form-group">
                        <span class="input-group-btn">
                             <button class="btn btn-default" type="button"
                                     (click)="mySearch == 'Title' ? filter.currentSearch.next('Description') : filter.currentSearch.next('Title')">{{mySearch}}:</button>
                        </span>
                        <input class="form-control" [(ngModel)]="searchTerm" name="searchLine" #searchLine
                               (keyup)="filter.currentSearchTerm.next(searchLine.value)">
                    </div>
                </form>
            </li>
        </ul>
        <div class="navbar-right statistic">
            <div class="row">
                <div class="col-sm-3 col-sm-offset-5">
                    <p>All tasks: {{getStatistic()}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3">
                    <p class="text-primary">New: {{getStatistic(0)}}</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-warning">In Process: {{getStatistic(1)}}</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-info">Pause: {{getStatistic(2)}}</p>
                </div>
                <div class="col-sm-3">
                    <p class="text-success">Resolved: {{getStatistic(3)}}</p>
                </div>
            </div>
        </div>
    </nav>
    <div class="container content">
        <router-outlet></router-outlet>
    </div>
    <router-outlet name="popup"></router-outlet>
</div>