<div class="input-group">
    <input title="hour" type="number" min="0" max="23" name="hour_" [(ngModel)]="hour"_>
    <input title="minute" type="number" min="0" max="59" name="minute" [(ngModel)]="minute">
    <input title="day" type="number" min="1" [max]="maxDay" name="day" [(ngModel)]="day">
    <input title="month" type="number" min="1" max="12" name="month" [(ngModel)]="month">
    <input title="year" type="number" min="-99999" max="99999" name="year" [(ngModel)]="year">
</div>