<div [@animation]="'in'">
    <h3 *ngIf="!newTask">{{task.title}}</h3>
    <form (submit)="save()" #detailForm="ngForm">
        <div *ngIf="newTask" class="form-group" [class.has-error]="!detailForm.form.valid">
            <label for="title">Title:</label>
            <input placeholder="Enter task title..." class="form-control" id="title" [(ngModel)]="task.title"
                   name="title" required autofocus>
        </div>
        <div class="form-group">
            <label for="description">Description:</label>
            <textarea id="description" [(ngModel)]="task.description" name="description" class="form-control" rows="4"
                      placeholder="Enter description..."></textarea>
        </div>
        <div class="form-group">
            <label>Create date: {{cashCreateTime | dateWithPlaseholder:"HH:mm:ss d.MM.yyyy"}}</label>
        </div>
        <div class="form-group">
            <label>Status:</label>
            <span *ngIf="!newTask" class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">{{task.status | status}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li *ngIf="task.status != 1"><a (click)="task.status = 1">In process</a></li>
                <li *ngIf="task.status == 1"><a (click)="task.status = 2">Pause</a></li>
                <li *ngIf="task.status != 3"><a (click)="task.status = 3">Resolved</a></li>
            </ul>
            </span>
            <label *ngIf="newTask">New</label>
        </div>
        <div class="form-group" *ngIf="newTask || task.status == 0">
            <input type="checkbox" [(ngModel)]="startTimeEnabled" name="startTimeChecker" id="startTimeChecker"
                   (click)="plannedStartManage()">
            <label for="startTimeChecker">Planned start:</label>
            <date-comp *ngIf="startTimeEnabled" [(value)]="task.plannedStartDate"></date-comp>
        </div>
        <div class="form-group">
            <label>Planned start date: {{task.plannedStartDate | dateWithPlaseholder:"HH:mm:ss d.MM.yyyy"}}</label>
        </div>
        <div class="form-group" *ngIf="!newTask && task.status != 0">
            <label>Start date: {{task.startDate | dateWithPlaseholder:"HH:mm:ss d.MM.yyyy"}}</label>
        </div>
        <div class="form-group">
            <input type="checkbox" [(ngModel)]="plannedEstimateEnabled" name="plannedEstimateChecker"
                   id="plannedEstimateChecker">
            <label for="plannedEstimateChecker">Planned estimate:</label>
            <interval-comp *ngIf="plannedEstimateEnabled" [(value)]="task.plannedEstimate"></interval-comp>
        </div>
        <div class="form-group">
            <label>Planned estimate: {{task.plannedEstimate | interval}}</label>
        </div>
        <div class="form-group" *ngIf="!newTask">
            <label>Spend time: {{task.spendCash | interval}}</label>
        </div>
        <button type="submit" [disabled]="!detailForm.form.valid" class="btn-success btn">Save</button>
    </form>
</div>