<div class="container content row">
    <nav>
        <div class="form-group">
            <button class="btn btn-info btn-sm" [disabled]="status == 'login'" (click)="switchStatus()">
                Log-in
            </button>
            <button class="btn btn-info btn-sm" [disabled]="status == 'registration'" (click)="switchStatus()">
                Registration
            </button>
        </div>
    </nav>
    <form *ngIf="status == 'login'" [@loginRegistration]="'in'" #loginForm="ngForm" (submit)="taskService.login(login, password)">
        <div class="form-group" [class.has-error]="!login">
            <label for="login">Login:</label>
            <input id="login" class="form-control" placeholder="Enter login..." required name="login"
                   [(ngModel)]="login">
        </div>
        <div class="form-group" [class.has-error]="!password">
            <label for="password">Password:</label>
            <input id="password" class="form-control" placeholder="Enter password..." type="password" required
                   name="password" [(ngModel)]="password">
        </div>
        <button class="btn btn-success btn-block" type="submit" [disabled]="!loginForm.form.valid">Login</button>
    </form>

    <form *ngIf="status == 'registration'" [@loginRegistration]="'in'" #registrationForm="ngForm" (submit)="taskService.registration(login, password)">
        <div class="form-group" [class.has-error]="!login">
            <label for="newlogin">Login:</label>
            <input id="newlogin" class="form-control" placeholder="Enter login..." required name="newlogin"
                   [(ngModel)]="login">
        </div>
        <div class="form-group" [class.has-error]="!password">
            <label for="newpassword">Password:</label>
            <input id="newpassword" class="form-control" placeholder="Enter password..." type="password" required
                   name="newPassword" [(ngModel)]="password">
        </div>
        <div class="form-group" #rePasswordFiield [class.has-error]="!rePassword || password !== rePassword">
            <label for="newrepassword">Password:</label>
            <input id="newrepassword" class="form-control" placeholder="Re-enter password..." type="password"
                   required name="rePassword" [(ngModel)]="rePassword">
        </div>
        <button class="btn btn-success btn-block" type="submit"
                [disabled]="!registrationForm.form.valid || password !== rePassword">Registration
        </button>
    </form>
</div>