<div class="alert" *ngFor="let task of tasks"
     [@inputOutput]="'in'"
     [class.alert-info]="task.status == 0"
     [class.alert-warning]="task.status == 1 || task.status == 2"
     [class.alert-success]="task.status == 3"
     [class.alert-danger]="task.status != 3 && (task.plannedEstimate < task.spendTime && task.plannedEstimate > 0)">
    <div class="row">
        <div class="col-sm-offset-10 col-sm-2">
            <button (click)="deleteTask(task)" type="button" class="close">&times;</button>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <h3>{{task.title}}
                <button type="button" class="btn btn-default btn-sm editbtn" (click)="gotoTask(task.state._id)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <p><b>Description:</b><br>{{task.clipDescription()}}</p>
        </div>
        <div class="col-sm-4" *ngIf="task.status == 0">
            <b>Planned start:</b><br>{{task.plannedStartDate | dateWithPlaseholder:"HH:mm d.MM.yyyy"}}
        </div>
        <div class="col-sm-4 form-group" *ngIf="task.status == 1">
            <p><b>Estimate time:</b><br>{{task.plannedEstimate | interval}}</p>
            <b>Spend time:</b><br>{{task.spendCash | interval}}
        </div>
        <div class="col-sm-4 form-group" *ngIf="task.status == 2">
            <p><b>Estimate time:</b><br>{{task.plannedEstimate | interval}}</p>
            <b>Spend time:</b><br>{{task.spendTime | interval}}
        </div>
        <div class="col-sm-4" *ngIf="task.status == 3">
            <b>Spend time:</b><br>{{task.spendTime | interval}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">
            <p>{{task.createDate | date:"HH:mm"}}<br>{{task.createDate | date:"d.MM.yyyy"}}</p>
        </div>
        <div class="col-sm-2 col-sm-offset-7">
            <span class="dropdown">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" role="button"
               aria-haspopup="true" aria-expanded="false">{{task.status | status}} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li *ngIf="task.status != 1"><a (click)="updateStatus(task, 1)">In process</a></li>
                <li *ngIf="task.status == 1"><a (click)="updateStatus(task, 2)">Pause</a></li>
                <li *ngIf="task.status != 3"><a (click)="updateStatus(task, 3)">Resolved</a></li>
            </ul>
            </span>
        </div>
    </div>
</div>