<div class="input-group">
    <input title="minutes" type="number" min="0" max="59" name="minute" [(ngModel)]="minutes">
    <input title="hour" type="number" min="0" max="23" name="hour" [(ngModel)]="hours">
    <input title="days" type="number" min="0" max="29" name="day" [(ngModel)]="days">
    <input title="months" type="number" min="0" max="11" name="month" [(ngModel)]="months">
    <input title="years" type="number" min="0" max="99999" name="year" [(ngModel)]="years">
</div>